extends default/_wrapper.pug

block content
            
    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug
    main
        .fixed.container
            .fixed__container
                .fixed__content.container
                    .parallax__item(
                        data-conponent='m-comp--parallax',
                        data-computationType = "fixed",
                        data-range="50vh",
                        data-fromTo
                        data-scrollTrigger=".fixed__dummy--1")
                        .parallax__item(
                            data-conponent='m-comp--parallax',
                            data-computationType = "fixed",
                            data-range="-50w",
                            data-scrollTrigger=".fixed__dummy--2",
                            data-propierties="horizontal")
                            .parallax__item(
                                data-conponent='m-comp--parallax',
                                data-computationType = "fixed",
                                data-range="50w",
                                data-scrollTrigger=".fixed__dummy--3",
                                data-propierties="horizontal")
                                .parallax__item(
                                    data-conponent='m-comp--parallax',
                                    data-computationType = "fixed",
                                    data-range="100",
                                    data-scrollTrigger=".fixed__dummy--4",
                                    data-propierties="scale")
                                    .parallax__item(
                                        data-conponent='m-comp--parallax',
                                        data-ease,
                                        data-computationType = "fixed",
                                        data-range="90",
                                        data-scrollTrigger=".fixed__dummy--5",
                                        data-propierties="rotate")
                                        .parallax__item(
                                            data-conponent='m-comp--parallax',
                                            data-computationType = "fixed",
                                            data-range="90",
                                            data-applyTo=".test-item",
                                            data-scrollTrigger=".fixed__dummy--5",
                                            data-propierties="border-width")
                                            .parallax__item(
                                                data-conponent='m-comp--parallax',
                                                data-computationType = "fixed",
                                                data-range="-50",
                                                data-scrollTrigger=".fixed__dummy--7",
                                                data-propierties="scale")
                                                .test-item
                                                    
                .fixed__dummy.fixed__dummy--1
                .fixed__dummy.fixed__dummy--2
                .fixed__dummy.fixed__dummy--3
                .fixed__dummy.fixed__dummy--4
                .fixed__dummy.fixed__dummy--5
                .fixed__dummy.fixed__dummy--6
                .fixed__dummy.fixed__dummy--7
            
