extends default/_wrapper.pug

block content
    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug
    main
        .container.clearfix
            .sidebar.menu-container--sidebar
                include ../includes/navigation.pug
            .content
                h1
                    |#{ssgPrint(pageTitle)}
                h2
                    |#{hello()}

                .js-index-parallax-1
                    .parallax__item-test

                //- ACCORDION
                h3
                    |accordion default
                div.js-accordion
                    .accrdion-item.js-accordion-item
                        button.accrdion-item__btn.js-accordion-toggle
                            |item1
                        .accrdion-item__content.js-accordion-content(style="height:0;")
                            span
                                |content
                    .accrdion-item.js-accordion-item
                        button.accrdion-item__btn.js-accordion-toggle
                            span
                                |item2
                        .accrdion-item__content.js-accordion-content(style="height:0;")
                            span
                                |content
                    .accrdion-item.js-accordion-item
                        button.accrdion-item__btn.js-accordion-toggle
                            |item2
                        .accrdion-item__content.js-accordion-content(style="height:0;")
                            span
                                |content

                //- ACCORDION
                h3
                    |accordion multiple max desktop
                .js-accordion(
                    data-multiple
                    data-queryType="max"
                    data-breackpoint="desktop")
                    .accrdion-item.js-accordion-item
                        button.accrdion-item__btn.js-accordion-toggle
                            |item1
                        .accrdion-item__content.js-accordion-content(style="height:0;")
                            span
                                |content
                    .accrdion-item.js-accordion-item
                        button.accrdion-item__btn.js-accordion-toggle
                            span
                                |item2
                        .accrdion-item__content.js-accordion-content(style="height:0;")
                            span
                                |content
                    .accrdion-item.js-accordion-item
                        button.accrdion-item__btn.js-accordion-toggle
                            |item2
                        .accrdion-item__content.js-accordion-content(style="height:0;")
                            span
                                |content

                //- ACCORDION
                h3
                    |accordion via js
                .accordion-custom
                    .accrdion-item
                        button.accrdion-item__btn
                            |item1
                        .accrdion-item__content(style="height:0;")
                            span
                                |content
                    .accrdion-item
                        button.accrdion-item__btn
                            span
                                |item2
                        .accrdion-item__content(style="height:0;")
                            span
                                |content
                    .accrdion-item
                        button.accrdion-item__btn
                            |item2
                        .accrdion-item__content(style="height:0;")
                            span
                                |content

                include ../component/lightbox/pug/button.pug

                //- div(data-conponent='m-comp--pageScroller')
                //-     .pageScroller__content
                include ../component/tooltip/pug/tooltip.pug


                .js-index-parallax-2.parallax__item-test
                .js-index-parallax-3.parallax__item-test

        include ../component/threeBlocks/pug/tBlocks.pug
        include ../component/threeBlocks/pug/tBlocks.pug

        section.overflow-hidden
            .interceptTrigger.parallax__item-test.js-animate(
                data-triggerEl=".interceptObserver-1")
            .interceptObserver.interceptObserver-1.js-animate
            .interceptObserver.interceptObserver-2.js-animate

            .index-timeline(style="border:1px #ccc solid;position: relative;height:140px;")
                //- div(style='position:absolute;left:50%;transform:translateX(-50%)')
                div
                  .index-parallax-1.inlineBLock
                    .parallax__item-test

            .grid-parallax
              .js-index-scrolltrigger-1.grid-parallax__item
                  .grid-parallax__cell
                    |1
                  .grid-parallax__cell
                    |2

            .flex.justify-center
                .js-index-parallax-4
                    .js-index-parallax-5
                        .parallax__item-test


            .parallax__item-test.js-index-parallax-6


            .clearfix
                .inlineBLock.js-parallax-scale
                    .parallax__item-test.parallax__item-test--float

            .parallax__item-test.js-index-parallax-7


            .clipath-start.js-toggle-class(
                data-startClass="clipath-start",
                data-endClass="clipath-end")
                    .trasition-item-test

            .flex
                .js-index-parallax-8
                    .parallax__item-test.parallax__item-test--float

                div.js-index-parallax-9
                    .parallax__item-test.parallax__item-test--float

            .transformY-start.js-toggle-class(
                data-startClass="transformY-start",
                data-endClass="transformY-end",
                data-onlyOnce)
                    .trasition-item-test

            .flex
                .parallax__item-test.inlineBLock.js-index-parallax-10


            .opacity-start.js-toggle-class(
                data-startClass="opacity-start",
                data-endClass="opacity-end")
                    .trasition-item-test

            .parallax__item-test.js-index-parallax-11

            div(style="height:200px;")

    include ../component/lightbox/pug/lightbox-simple.pug
    include ../component/lightbox/pug/lightbox-image.pug
    include ../component/lightbox/pug/lightbox-video.pug
