extends default/_wrapper.pug

block content
    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug
    main
        .container.clearfix
            .sidebar.menu-container--sidebar
                include ../includes/navigation.pug
            .content
                h1
                    |#{ssgPrint(pageTitle)}
                h2
                    |#{hello()}

                div(
                    data-conponent='m-comp--parallax',
                    data-align='start',
                    data-propierties="opacity")
                    .parallax__item-test
                      
                // SPRING TEST
                h1
                  |Spring chain animation
                button.spring-btn-start(type="button")
                  |start
                button.spring-btn-back(type="button")
                  |back
                button.spring-btn-stop(type="button")
                  |stop
                button.spring-btn-pause(type="button")
                  |pause
                button.spring-btn-play(type="button")
                  |resume
                .parallax__item-test.spring-target
                  
                  
                // TWEEN TEST
                h1
                  |Calssic tween chain animation
                button.tween-btn-start(type="button")
                  |start
                button.tween-btn-back(type="button")
                  |back
                button.tween-btn-stop(type="button")
                  |stop
                button.tween-btn-pause(type="button")
                  |pause
                button.tween-btn-play(type="button")
                  |resume
                .parallax__item-test.tween-target
                  
                // LERP TEST
                h1
                  |Lerp chain animation
                button.lerp-btn-start(type="button")
                  |start
                button.lerp-btn-back(type="button")
                  |back
                button.lerp-btn-stop(type="button")
                  |stop
                button.lerp-btn-pause(type="button")
                  |pause
                button.lerp-btn-play(type="button")
                  |resume
                .parallax__item-test.lerp-target

                //- ACCORDION
                h3
                    |accordion default
                div(data-conponent='m-comp--accordion')
                    .accrdion-item(data-item)
                        button.accrdion-item__btn(data-toggle)
                            |item1
                        .accrdion-item__content(data-content style="height:0;")
                            span
                                |content
                    .accrdion-item(data-item)
                        button.accrdion-item__btn(data-toggle)
                            span
                                |item2
                        .accrdion-item__content(data-content style="height:0;")
                            span
                                |content
                    .accrdion-item(data-item)
                        button.accrdion-item__btn(data-toggle)
                            |item2
                        .accrdion-item__content(data-content style="height:0;")
                            span
                                |content

                //- ACCORDION
                h3
                    |accordion multiple max desktop
                div(data-conponent='m-comp--accordion' 
                    data-multiple
                    data-queryType="max"
                    data-breackpoint="desktop")
                    .accrdion-item(data-item)
                        button.accrdion-item__btn(data-toggle)
                            |item1
                        .accrdion-item__content(data-content style="height:0;")
                            span
                                |content
                    .accrdion-item(data-item)
                        button.accrdion-item__btn(data-toggle)
                            span
                                |item2
                        .accrdion-item__content(data-content style="height:0;")
                            span
                                |content
                    .accrdion-item(data-item)
                        button.accrdion-item__btn(data-toggle)
                            |item2
                        .accrdion-item__content(data-content style="height:0;")
                            span
                                |content
                                
                //- ACCORDION
                h3
                    |accordion via js
                .accordion-custom
                    .accrdion-item
                        button.accrdion-item__btn
                            |item1
                        .accrdion-item__content(style="height:0;")
                            span
                                |content
                    .accrdion-item
                        button.accrdion-item__btn
                            span
                                |item2
                        .accrdion-item__content(style="height:0;")
                            span
                                |content
                    .accrdion-item
                        button.accrdion-item__btn
                            |item2
                        .accrdion-item__content(style="height:0;")
                            span
                                |content

                include ../component/lightbox/pug/button.pug
                
                //- div(data-conponent='m-comp--pageScroller')
                //-     .pageScroller__content
                include ../component/tooltip/pug/tooltip.pug
                

                .parallax__item-test(
                    data-conponent='m-comp--parallax',
                    data-range='1.5',
                    data-align='center',
                    data-ease
                    data-easeType="lerp"
                    data-lerpConfig ="200")

                .parallax__item-test(
                    data-conponent='m-comp--parallax',
                    data-opacityStart='110'
                    data-opacityEnd='50'
                    data-ease
                    data-easeType="lerp"
                    data-propierties="opacity")

        include ../component/threeBlocks/pug/tBlocks.pug
        include ../component/threeBlocks/pug/tBlocks.pug
        
        section.overflow-hidden
            .interceptTrigger.parallax__item-test(
                data-conponent='m-comp--animate'
                data-triggerEl=".interceptObserver-1")
            .interceptObserver.interceptObserver-1(
                data-conponent='m-comp--animate')
            .interceptObserver.interceptObserver-2(
                data-conponent='m-comp--animate')
        
            .index-timeline(style="border:1px #ccc solid;")
                div.inlineBLock(
                    data-conponent='m-comp--parallax'
                    data-computationType="fixed"
                    data-start='bottom 30vh'
                    data-end="bottom 60vh"
                    data-propierties="rotate"
                    data-ease
                    data-easeType="lerp"
                    data-lerpConfig ="100"
                    data-scrollTrigger=".index-timeline"
                    data-range="180deg")
                    div(
                        data-conponent='m-comp--parallax'
                        data-computationType="fixed"
                        data-propierties="x"
                        data-start='bottom 60vh'
                        data-end='top -height'
                        data-range="350px"
                        data-ease
                        data-easeType="lerp"
                        data-lerpConfig ="100"
                        data-scrollTrigger=".index-timeline")
                        .parallax__item-test
                            
            .parallax__item-test.inlineBLock(
                style="background:black;"
                data-conponent='m-comp--parallax'
                data-computationType="fixed"
                data-propierties="rotate"
                data-range="90deg"
                data-start="bottom 20vh"
                data-end="bottom 60vh +halfHeight"
                data-pin
                data-marker='rotate'
                )
                
                    
            .flex.justify-center
                div(
                    data-conponent='m-comp--parallax'
                    data-perspective="400"
                    data-propierties="rotateX"
                    data-range="3")
                    div(
                        data-conponent='m-comp--parallax'
                        data-range="3")
                        .parallax__item-test


            .parallax__item-test(
                data-conponent='m-comp--parallax',
                data-ease
                data-easeType='lerp'
                data-propierties="opacity"
                data-opacityStart="100"
                data-opacityEnd="45")
                

            .clearfix
                .inlineBLock(
                    data-conponent='m-comp--parallax',
                    data-range='.7',
                    data-ease
                    data-onSwitch="in-back",
                    data-propierties="scale")
                    .parallax__item-test.parallax__item-test--float

            .parallax__item-test(
                data-conponent='m-comp--parallax',
                data-range='2',
                data-align='90',
                data-onSwitch="in-back",
                data-reverse,
                data-propierties="x")
                

            .clipath-start(
                data-conponent='m-comp--toggleEl',
                data-startClass="clipath-start",
                data-endClass="clipath-end")
                    .trasition-item-test 

            .flex
                div(
                    data-conponent='m-comp--parallax',
                    data-range='2',
                    data-onSwitch="in-stop"
                    data-ease)
                    .parallax__item-test.parallax__item-test--float

                div(
                    data-conponent='m-comp--parallax',
                    data-range='1.5',
                    data-onSwitch="out-stop"
                    data-springConfig="linearMedium"
                    data-ease)
                    .parallax__item-test.parallax__item-test--float

            .transformY-start(
                data-conponent='m-comp--toggleEl',
                data-startClass="transformY-start",
                data-endClass="transformY-end",
                data-onlyOnce)
                    .trasition-item-test 

            .flex
                .parallax__item-test.inlineBLock(
                    data-conponent='m-comp--parallax',
                    data-range='2',
                    data-align='bottom',
                    data-ease,
                    data-propierties="rotate")
                    

            .opacity-start(
                data-conponent='m-comp--toggleEl',
                data-startClass="opacity-start",
                data-endClass="opacity-end")
                    .trasition-item-test 

            .parallax__item-test(
                data-conponent='m-comp--parallax',
                data-range='2',
                data-align='end',
                data-propierties="x")
                

            div(style="height:200px;")

    include ../component/lightbox/pug/lightbox-simple.pug
    include ../component/lightbox/pug/lightbox-image.pug
    include ../component/lightbox/pug/lightbox-video.pug
