extends default/_wrapper.pug

block content
    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug
    main
        .container.clearfix
            .scrollerH-container
                .scrollerH
                    .scrollerH__item
                    .scrollerH__item
                    .scrollerH__item
                        .parallax__container(style="display:inline-block;")
                            .parallax__item(
                                data-conponent='m-comp--parallax',
                                data-direction='horizontal'
                                data-scroller='.scrollerH-container .scrollerH'
                                data-align='start',
                                data-smoothType = 'linear'
                                data-propierties='horizontal')
                                a(href="https://www.google.com/" target="_blank")
                                    |button
                    .scrollerH__item
                        .parallax__container(style="display:inline-block;")
                            .parallax__item(
                                data-conponent='m-comp--parallax',
                                data-direction='horizontal'
                                data-scroller='.scrollerH-container .scrollerH'
                                data-onSwitch='stop'
                                data-reverse
                                data-smoothType='linear'
                                data-propierties='horizontal')
                                |test
                    .scrollerH__item
                        .parallax__container(style="display:inline-block;")
                            .parallax__item(
                                data-conponent='m-comp--parallax',
                                data-direction='horizontal'
                                data-scroller='.scrollerH-container .scrollerH'
                                data-smoothType='linear'
                                data-opacityStart='100'
                                data-opacityend='50'
                                data-propierties='opacity')
                                |test
                    .scrollerH__item
                        .pluto(style='width:50vw;height:50vw;border:1px #000 solid;text-align:center;')
                            .parallax__container(style="display:inline-block;")
                                .parallax__item(
                                    data-conponent='m-comp--parallax',
                                    data-direction='horizontal'
                                    data-scroller='.scrollerH-container .scrollerH'
                                    data-computationType='fixed'
                            
                                    data-triggerEl='.pluto'
                                    data-smoothType='linear'
                                    data-range='50'
                                    data-fixedOffset='50'
                                    data-propierties='horizontal')
                                    |test
                    .scrollerH__item
                        
            .scrollerH-container2
                .scrollerH2
                    .scrollerH2__item
                    .scrollerH2__item
                    .scrollerH2__item
                    .scrollerH2__item
                    .scrollerH2__item
                    .scrollerH2__item
                    .scrollerH2__item
            
            .scrollerH-container3
                .scrollerH3
                    .scrollerH3__item
                    .scrollerH3__item
                    .scrollerH3__item
                    .scrollerH3__item
                    .scrollerH3__item
                    .scrollerH3__item
                    .scrollerH3__item
                    
                
