extends default/_wrapper.pug

block content
    header
        .container
            include ../includes/langSelector.pug
        .container.menu-container.menu-container--top
            include ../includes/navigation.pug
    main
        .container.clearfix(style='margin-left:200px;')
            .scrollerH-container
                .scrollerH
                    .scrollerH__item
                    .scrollerH__item
                    .scrollerH__item
                        div(style="display:inline-block;"
                            data-conponent='m-comp--parallax',
                            data-direction='horizontal'
                            data-scroller='.scrollerH-container .scrollerH'
                            data-align='start',
                            data-smoothType = 'linear'
                            data-propierties='horizontal')
                            a(href="https://www.google.com/" target="_blank")
                                |button
                    .scrollerH__item
                        div(style="display:inline-block;"
                            data-conponent='m-comp--parallax',
                            data-direction='horizontal'
                            data-scroller='.scrollerH-container .scrollerH'
                            data-onSwitch='out-stop'
                            data-range='4'
                            data-reverse
                            data-smoothType='linear'
                            data-propierties='horizontal')
                            .div(
                                data-conponent='m-comp--parallax',
                                data-direction='horizontal'
                                data-scroller='.scrollerH-container .scrollerH'
                                data-onSwitch='in-stop'
                                data-range='9'
                                data-reverse
                                data-smoothType='linear'
                                data-propierties='horizontal')
                                |test
                    .scrollerH__item
                        div(style="display:inline-block;"
                            data-conponent='m-comp--parallax',
                            data-direction='horizontal'
                            data-scroller='.scrollerH-container .scrollerH'
                            data-ease="smooth"
                            data-opacityStart='100'
                            data-opacityend='50'
                            data-propierties='opacity')
                            |test
                    .scrollerH__item
                        .pluto(style='width:200px;height:150px;border:1px #000 solid;')
                            div(style="display:inline-block;border:1px #000 solid;"
                                data-conponent='m-comp--parallax',
                                data-direction='horizontal'
                                data-scroller='.scrollerH-container .scrollerH'
                                data-computationType='fixed'
                                data-triggerEl='.pluto'
                                data-reverse
                                data-range='100')
                                |test
                    .scrollerH__item
                        .pluto4(style='width:300px;height:100px;border:1px #000 solid;transform:translateX(-100%);')
                        .pluto3(style='width:300px;height:100px;border:1px #000 solid;')
                            div(style="display:inline-block;border:1px #000 solid;")
                                .div(
                                    data-conponent='m-comp--parallax',
                                    data-direction='horizontal'
                                    data-scroller='.scrollerH-container .scrollerH'
                                    data-computationType='fixed'
                                    data-triggerEl='.pluto3'
                                    data-ease="smooth"
                                    data-reverse
                                    data-propierties="horizontal"
                                    data-range='100')
                                    .div(
                                        data-conponent='m-comp--parallax',
                                        data-direction='horizontal'
                                        data-fixedInvertSide
                                        data-ease="smooth"
                                        data-scroller='.scrollerH-container .scrollerH'
                                        data-computationType='fixed'
                                        data-triggerEl='.pluto4'
                                        data-propierties="horizontal"
                                        data-range='100')
                                        |test
                    .scrollerH__item
                        
            .scrollerH-container2
                .scrollerH2
                    .scrollerH2__item
                    .scrollerH2__item
                    .scrollerH2__item
                        div(style="display:inline-block;"
                            data-conponent='m-comp--parallax',
                            data-direction='horizontal'
                            data-scroller='.scrollerH-container2 .scrollerH2'
                            data-screen='.scrollerH-container2'
                            data-reverse
                            data-onSwitch='in-stop'
                            data-propierties='horizontal')
                            |test
                    .scrollerH2__item
                        .pluto2(style='width:300px;height:100px;border:1px #000 solid;')
                            div(style="display:inline-block;"
                                data-conponent='m-comp--parallax',
                                data-direction='horizontal'
                                data-scroller='.scrollerH-container2 .scrollerH2'
                                data-screen='.scrollerH-container2'
                                data-computationType='fixed'
                                data-triggerEl='.pluto2'
                                data-reverse
                                data-range='100'
                                data-propierties='horizontal'
                                data-smoothType='linear')
                                |test
                    .scrollerH2__item
                    .scrollerH2__item
                    .scrollerH2__item
            
            .scrollerH-container3
                .scrollerH3
                    .scrollerH3__item
                    .scrollerH3__item
                        .pluto6(style='width:300px;height:100px;border:1px #000 solid;')
                        .pluto5(style='width:300px;height:100px;border:1px #000 solid;')
                            div(style="display:inline-block;border:1px #000 solid;"
                                data-conponent='m-comp--parallax',
                                data-scroller='.scrollerH-container3 .scrollerH3'
                                data-screen='.scrollerH-container3'
                                data-computationType='fixed'
                                data-triggerEl='.pluto5'
                                data-reverse
                                data-propierties="horizontal"
                                data-range='100')
                                .div(
                                    data-conponent='m-comp--parallax',
                                    data-fixedInvertSide
                                    data-scroller='.scrollerH-container3 .scrollerH3'
                                    data-screen='.scrollerH-container3'
                                    data-computationType='fixed'
                                    data-triggerEl='.pluto6'
                                    data-propierties="horizontal"
                                    data-smoothType='linear'
                                    data-range='100')
                                    |test
                    .scrollerH3__item
                    .scrollerH3__item
                        div(style="display:inline-block;"
                            data-conponent='m-comp--parallax',
                            data-scroller='.scrollerH-container3 .scrollerH3'
                            data-screen='.scrollerH-container3'
                            data-onSwitch='out-stop'
                            data-propierties='horizontal')
                            |test
                    .scrollerH3__item
                    .scrollerH3__item
                    .scrollerH3__item
                    
                
