.container
  button.btn-Lightbox1(type='button')  
    |lightbox 1
  button.btn-Lightbox1(type='button' data-title='lightbox 2' data-description='lorem ipsum single staic')
    |lightbox 2
  br
  br

.container
  button.btn-LightboxImage(type='button' data-url=getImage('pic1.jpg') data-title='titolo 1' data-description='lorem ipsum single')
    |lightbox image 1
  button.btn-LightboxImage(type='button' data-url=getImage('pic2.jpg') data-hgap='10' data-wgap='10')  
    |lightbox image 2
  button.btn-LightboxImage(type='button' data-url=getImage('pic3.jpg'))  
    |lightbox image 3
  br
  br
    
.container
  button.btn-LightboxImageSlide(type='button' data-url=getImage('pic1.jpg') data-zoom data-title='titolo 1 landscape' data-description='lorem ipsum' data-imagegroup='landscape')  
    |lightbox landscape 1
  button.btn-LightboxImageSlide(type='button' data-title='titolo 2 landscape' data-zoom data-description='lorem ipsum 2' data-url=getImage('pic2.jpg') data-imagegroup='landscape')  
    |lightbox landscape 2
  button.btn-LightboxImageSlide(type='button' data-url=getImage('pic3.jpg') data-zoom data-imagegroup='landscape')  
    |lightbox landscape 3
  br
  br
    
.container
  button.btn-LightboxImageSlide(type='button' data-url=getImage('flower1.jpg') data-imagegroup='flower')  
    |lightbox flower 1
  button.btn-LightboxImageSlide(type='button' data-url=getImage('flower2.jpg') data-title='titolo 2 flower' data-description='lorem ipsum 2' data-imagegroup='flower')  
    |lightbox flower 2
  button.btn-LightboxImageSlide(type='button' data-url=getImage('flower3.jpg') data-imagegroup='flower' data-hgap='30' data-wgap='30')  
    |lightbox flower 3
  button.btn-LightboxImageSlide(type='button' data-url=getImage('flower4.jpg') data-imagegroup='flower')  
    |lightbox flower 4
  br
  br

.container
  button.btn-LightboxVideo(type='button' data-url='SyeI43BeR54', data-ratioW='16', data-ratioH='9')  
    |lightbox video
  button.btn-LightboxVideo(type='button' data-title='titolo 2 video' data-description='lorem ipsum video' data-url='SyeI43BeR54')  
    |lightbox video description
  button.btn-LightboxVideo(type='button' data-title='titolo 3 video local' data-ratioW='2', data-ratioH='2' data-sourceType="local" data-url='assets/video/videotest.mp4')  
     |lightbox video local
  br
  br
