.nav-wrap
  .toggle-wrap.clearfix
    .toggle-element
      span
      span
      span
      span
    button.main-arrow-back
  nav.nav(role='navigation')
    ul.main-menu
      li.menu-item
        a(href=permalinkMap.index[lang]) Home
      li.menu-item.menu-item-has-children
        a(href='#') parallax
        ul.sub-menu
          li.menu-item
            a(href=permalinkMap.fixed[lang]) sticky test
          li.menu-item.menu-item-has-children
            a(href='#') second level
            ul.sub-menu  
              li.menu-item
                a(href='#') third level
              li.menu-item.menu-item-has-children
                a(href='#') third level
                ul.sub-menu        
                  li.menu-item
                    a(href='#') fourth level
                  li.menu-item
                    a(href='#') fourth level
                  li.menu-item
                    a(href='#') fourth level
              li.menu-item
                a(href='#') third level
          li.menu-item.menu-item-has-children
            a(href='#') second level
            ul.sub-menu    
              li.menu-item
                a(href='#') third level
              li.menu-item
                a(href='#') third level
              li.menu-item
                a(href='#') third level
      li.menu-item.menu-item-has-children
        a(href='#') GSAP
        ul.sub-menu
          li.menu-item
            a(href=permalinkMap.gsap[lang]) test 1
          li.menu-item
            a(href=permalinkMap.gsapHorizontal[lang]) horizontal
      li.menu-item.menu-item-has-children
        a(href=permalinkMap.move3D[lang]) move3D
        ul.sub-menu
          li.menu-item
            a(href='#') second level
          li.menu-item.menu-item-has-children
            a(href='#') second level
            ul.sub-menu    
              li.menu-item
                a(href='#') third level
              li.menu-item
                a(href='#') third level
              li.menu-item
                a(href='#') third level
          li.menu-item
            a(href='#') second level
      li.menu-item.menu-item-has-children
        a(href=permalinkMap.mouseParallax[lang]) mouseParallax
        ul.sub-menu
          li.menu-item
            a(href='#') second level
          li.menu-item.menu-item-has-children
            a(href='#') second level
            ul.sub-menu    
              li.menu-item
                a(href='#') third level
              li.menu-item.menu-item-has-children
                a(href='#') third level
                ul.sub-menu        
                  li.menu-item
                    a(href='#') fourth level
                  li.menu-item
                    a(href='#') fourth level
                  li.menu-item
                    a(href='#') fourth level
              li.menu-item
                a(href='#') third level
          li.menu-item.menu-item-has-children
            a(href='#') second level
            ul.sub-menu    
              li.menu-item
                a(href='#') third level
              li.menu-item
                a(href='#') third level
              li.menu-item
                a(href='#') third level
