mixin getSlugName(uniqueId, pre="", after="")
    if slugMap[uniqueId] && slugMap[uniqueId][lang]
        |!{pre}
        |!{slugMap[uniqueId][lang]}
        |!{after}
    else 
        |!{pre}
        |not found
        |!{after}
