extends _wrapper.pug

block content
    
    header
        .container
            include includes/langSelector.pug
        .container.menu-container.menu-container--top
            include includes/navigation.pug
    main
        .container
            if posts
                each category, key in posts
                    each post, key in category
                        div
                            p
                                |#{getVal(post, 'date')}
                            a(href=getVal(post, 'permalink'))
                                |#{getVal(post, 'data', 'title')}
                            p
                                |#{getVal(post, 'data', 'description')}
                            a(href=getCategoryPermalink(post.category))
                                |in #{getCategoryName(post.category)}
                            div
                                |tag:
                            div
                                each tag, key in post.tag
                                    a(href=getTagPermalink(tag))
                                        | #{getTagName(tag)} |
                            hr
                                
