<!doctype html>
html
    head
        include pug/head.pug

    body
        div(id="spriteSvg" data-svg="assets/svg/svg.svg")
        header
          .container.menu-container.menu-container--top
            include component-vanilla/navigation/pug/menu.pug
        .fixed.container
            .fixed__container
                .fixed__content.container
                    .parallax__container
                        .parallax__item(
                            data-conponent='m-comp--parallax',
                            data-ease="linear",
                            data-computationType = "fixed",
                            data-fixedRange="50",
                            data-triggerEl=".fixed__dummy--1",
                            data-reverse,
                            data-fixedInward
                            data-limiterOff,
                            data-propierties="vertical")
                            .parallax__item(
                                data-conponent='m-comp--parallax',
                                data-ease="linear",
                                data-computationType = "fixed",
                                data-fixedRange="50",
                                data-triggerEl=".fixed__dummy--2",
                                data-limiterOff,
                                data-propierties="horizontal")
                                .parallax__item(
                                    data-conponent='m-comp--parallax',
                                    data-ease="linear",
                                    data-computationType = "fixed",
                                    data-fixedRange="50",
                                    data-triggerEl=".fixed__dummy--3",
                                    data-reverse,
                                    data-limiterOff,
                                    data-propierties="horizontal")
                                    .parallax__item(
                                        data-conponent='m-comp--parallax',
                                        data-ease="linear",
                                        data-computationType = "fixed",
                                        data-fixedRange="100",
                                        data-triggerEl=".fixed__dummy--4",
                                        data-limiterOff,
                                        data-propierties="scale")
                                        .parallax__item(
                                            data-conponent='m-comp--parallax',
                                            data-ease="smooth",
                                            data-computationType = "fixed",
                                            data-fixedRange="90",
                                            data-triggerEl=".fixed__dummy--5",
                                            data-limiterOff,
                                            data-propierties="rotate")
                                            .parallax__item(
                                                data-conponent='m-comp--parallax',
                                                data-ease="linear",
                                                data-computationType = "fixed",
                                                data-fixedRange="90",
                                                data-applyEl=".test-item",
                                                data-limiterOff,
                                                data-triggerEl=".fixed__dummy--5",
                                                data-propierties="border-width")
                                                .parallax__item(
                                                    data-conponent='m-comp--parallax',
                                                    data-ease="linear",
                                                    data-computationType = "fixed",
                                                    data-fixedRange="90",
                                                    data-applyEl=".test-item",
                                                    data-fixedStartOff,
                                                    data-limiterOff,
                                                    data-triggerEl=".fixed__dummy--7",
                                                    data-fixedInward
                                                    data-propierties="border-width")
                                                    .test-item
                                                    
                .fixed__dummy.fixed__dummy--1
                .fixed__dummy.fixed__dummy--2
                .fixed__dummy.fixed__dummy--3
                .fixed__dummy.fixed__dummy--4
                .fixed__dummy.fixed__dummy--5
                .fixed__dummy.fixed__dummy--6
                .fixed__dummy.fixed__dummy--7
                
        include pug/footer.pug
        
