<!doctype html>
html
  head
    include pug/head.pug

  body
    div(id="spriteSvg" data-svg="assets/svg/svg.svg")

    header
      .container.menu-container.menu-container--top
        include component/navigation/pug/menu.pug
    main
      .container.clearfix
        .sidebar.menu-container--sidebar
          include component/navigation/pug/menu.pug
        .content
          h1
            |!{title}

          .parallax__container
            .parallax__item.parallax__item-test(
                data-conponent='m-comp--parallax',
                data-align='start',
                data-propierties="opacity")

          //- popToggle
          button.popTogglebtn.popTogglebtn-1
            |popbtn 1
          button.popTogglebtn.popTogglebtn-2
            |popbtn 2
          button.popTogglebtn.popTogglebtn-3
            |popbtn 3
          .popTarget.popTarget-1
              |popTarget 1
          .popTarget.popTarget-2
              |popTarget 2
              button
                  |close
          .popTargetDrop.popTarget-3(style="display:none")
              |popTarget 3
              button
                  |close
          include component/overlay/pug/overlay.pug
          //- Fine pop toggle
          
          
          //- ACCORDION
          .accrdion-item 
            button.accrdion-item__btn
                |item1
            .accrdion-item__content
                |content
          .accrdion-item 
            button.accrdion-item__btn
              |item2
            .accrdion-item__content
              |content
          .accrdion-item 
            button.accrdion-item__btn
              |item2
            .accrdion-item__content
              |content

          //- FINE ACCORDION
          
          include component/lightbox/pug/button.pug
          
          .parallax__container
            .parallax__item.parallax__item-test(
              data-conponent='m-comp--parallax',
              data-distance='8',
              data-jsVelocity="8",
              data-align='start',
              data-ease="smooth")
          .parallax__container
            .parallax__item.parallax__item-test(
              data-conponent='m-comp--parallax',
              data-align='start',
              data-propierties="opacity")
              
          include component/tooltip/pug/tooltip.pug
          
          
      
      include component/offset-slider/pug/offsetSlider.pug
      .container
        include component/threeGallery/pug/threeGallery.pug
        include component/threeGallery/pug/threeGallery.pug

        section.overflow-hidden
            
          .parallax__container
            .parallax__item.parallax__item-test(
              data-conponent='m-comp--parallax',
              data-propierties="opacity"
              data-opacityStart="100"
              data-opacityEnd="45"
              data-oneDirection="toBack"
              )
              
          .parallax__container.clearfix
            .parallax__item.parallax__item-test.parallax__item-test--float(
              data-conponent='m-comp--parallax',
              data-distance='9.5',
              data-jsVelocity="8",
              data-ease="smooth",
              data-align='center',
              data-oneDirection="toBack",
              data-propierties="scale")

          .parallax__container
            .parallax__item.parallax__item-test(
              data-conponent='m-comp--parallax',
              data-distance='2',
              data-align='90',
              data-ease="linear",
              data-oneDirection="toBack",
              data-reverse="true",
              data-propierties="horizontal")

          .parallax-background__container.transition--opacity.toggleEl--opacity--start(
            data-conponent='m-comp--toggleEl',
            data-startClass="toggleEl--opacity--start",
            data-endClass="toggleEl--opacity--end",
            style="min-height:300px;")

            .parallax-background__item(
              data-conponent='m-comp--parallax-bg',
              data-distance='4',
              data-height='1.5',
              data-align='center',
              data-ease="smooth")

              img.parallax-background__img(src='assets/img/parallax.jpg')
            |Lorem ipsuum
                
          .parallax__container.clearfix
            .parallax__item.parallax__item-test.parallax__item-test--float(
              data-conponent='m-comp--parallax',
              data-distance='8',
              data-jsVelocity="8",
              data-align='center',
              data-ease="smooth")

            .parallax__item.parallax__item-test.parallax__item-test--float(
              data-conponent='m-comp--parallax',
              data-distance='8',
              data-jsVelocity="8",
              data-align='center',
              data-ease="smooth",
              data-reverse="true")

          .parallax-background__container.transition--translate.toggleEl--transform--start(
            data-conponent='m-comp--toggleEl',
            data-startClass="toggleEl--transform--start",
            data-endClass="toggleEl--transform--end",
            data-onlyOnce="true"
            style="min-height:300px;")

            .parallax-background__item(
              data-conponent='m-comp--parallax-bg',
              data-distance='6',
              data-ease="linear")

              img.parallax-background__img(src='assets/img/parallax.jpg')
            |Lorem ipsuum 

          .parallax__container
            .parallax__item.parallax__item-test(
              data-conponent='m-comp--parallax',
              data-distance='8',
              data-align='bottom',
              data-ease="smooth",
              data-propierties="rotate")

          .parallax-background__container.transition--opacity.toggleEl--opacity--start(
            data-conponent='m-comp--toggleEl',
            data-startClass="toggleEl--opacity--start",
            data-endClass="toggleEl--opacity--end",
            style="min-height:300px;")

            .parallax-background__item(
              data-conponent='m-comp--parallax-bg',
              data-distance='3',
              data-ease="linear")

              img.parallax-background__img(src='assets/img/parallax.jpg')
            |Lorem ipsuum

          .parallax__container
            .parallax__item.parallax__item-test(
              data-conponent='m-comp--parallax',
              data-distance='2',
              data-align='end',
              data-ease="linear",
              data-propierties="horizontal")

          div(style="height:200px;")

    include component/lightbox/pug/lightbox-simple.pug
    include component/lightbox/pug/lightbox-image.pug
    include component/lightbox/pug/lightbox-video.pug
    include pug/footer.pug
